<%= render "shared/app_details" %>

<h3>Pets In This Application:</h3>
<% if @pets.empty? %>
  <p>No pets have been added yet!</p>
<% else %>
  <% @pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %>
<% end %>

<% if @application.status == 'In Progress' %>
  <h2>Add a Pet to this Application:</h2>

  <%= form_with url: "/applications/#{@application.id}", local: true, method: :get do |form| %>
    <%= form.label :search, "Search for Pets by Name:" %>
    <%= form.text_field :search %>
    <%= form.submit "Submit" %>
  <% end %>

  <% if params[:search] && @found_pets.empty? %>
    <p>No pets match this search.</p>
  <% elsif params[:search] %>
    <h3>Results</h3>
    <% @found_pets.each do |found_pet| %>
      <div id="pet-<%= found_pet.id %>">
        <%= link_to found_pet.name, "/pets/#{found_pet.id}" %>
        <%= form_with model: PetApplication.new, url: "/pet_applications", local: true, method: :post do |form| %>
          <%= form.hidden_field :pet_id, value: found_pet.id %>
          <%= form.hidden_field :application_id, value: @application.id %>
          <%= form.submit "Adopt this Pet" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

  <% if !@pets.empty? && @application.status == "In Progress" %>
    <div id="submitapp">
    <h2>Submit My Application</h2>
    <%= form_with url: "/applications/#{@application.id}", local: true, method: :patch do |form| %>
      <%= form.label :description, "Why Are You a Good Host?" %>
      <%= form.text_field :description %>
      <%= form.hidden_field :status, value: "Pending" %>
      <%= form.submit "Submit Application" %>
    <% end %>
    </div>
  <% end %>
