<h1>Application for <%= @application.name %></h1>

<h3>Name:</h3> <%= @application.name %>
<h3>Address:</h3> <p><%= @application.street_address %> <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %></p>
<h3>Why should pets go to your house?</h3> <%= @application.description %>
<h3>Application Status:</h3> <div id='app-status'><%= @application.status %></div>
