<h1>Application for <%= @application.name %></h1>
<% @pets.each do |pet| %>
  <% pet_application = @application.find_pet_app(pet.id) %>
  <% if pet_application.pet_status == "Pending Approval" %>
    <div id="pet-<%= pet.id %>">
      <%= link_to pet.name, "/pets/#{pet.id}" %>

      <p><%= form_with model: pet_application, url: "/pet_applications/#{pet_application.id}", local: true, method: :patch do |form| %>
        <%= form.hidden_field :pet_status, value: "Approved" %>
        <%= form.submit "Approve" %>
      <% end %></p>

      <p><%= form_with model: pet_application, url: "/pet_applications/#{pet_application.id}", local: true, method: :patch do |form| %>
        <%= form.hidden_field :pet_status, value: "Rejected" %>
        <%= form.submit "Reject" %>
      <% end %></p>
    </div>
  <% elsif pet_application.pet_status == "Approved" || pet_application.pet_status == "Rejected"  %>
    <div id="pet-<%= pet.id %>">
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <h3>Status: <%= pet_application.pet_status %></h3>
    </div>
  <% end %>
<% end %>
