<h1>Shelters - Administrative View</h1>

<% @shelters.each do |shelter| %>
  <h3>Name:</h3>   <%= link_to "#{shelter.name}", "/admin/shelters/#{shelter.id}" %>
  <h3>City:</h3> <%= shelter.city %>
  <h3>Foster Program:</h3> <%= shelter.foster_program %>
  <h3>Rank:</h3> <%= shelter.rank %>
<% end %>

<div id='with_pending_apps'>
  <h2>Shelters with Pending Applications</h2>
  <% @pending_shelters.each do |shelter| %>
    <h3>Name:</h3> <%= shelter.name %>
  <% end %>
</div>